# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env

# SQLite Database
*.db
*.sqlite3

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
